html{
  background-color: cyan;
  font-family: 'Roboto Slab', serif;
}
h2{
  text-align: center;
}
img{
  width: 50%;
  height:50%;
  image-rendering: auto;
  content: center;
  margin-left: 25%;
}
.ImgContainer{
  image-rendering: auto;
/*  width: 50%;
  height:50%;*/
}
.App {
/*  text-align: center;
*/  text-align: justify;
  /*width: 100%;*/
  margin-left: 5%;
  margin-right: 5%;
  /*float: right;*/
    font-family: 'Roboto Slab', serif;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
